h1 {
    background: #0B7285;
    color: white;
}

h2 {
    background: #3BC9D8;
    color: black;
}

p {
    background: #66D9E8;
    color: black;
}

ul {
    background: #E3FAFC;
    color: black;
}
